*{
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Mada', sans-serif;
}

header {
    width: 900px;
    height: 100px;
    background-color: #D6D7F8;
    margin-left: auto;
    margin-right:auto;
}

header ul {
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}

header ul li {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-decoration: none;
    list-style: none;
}

header ul li a{
    text-decoration: none;
}


h1 {
    width: 900px;
    height: 35px;
    text-align: center;
    background-color:#2E4053;
    margin-left: auto;
    margin-right: auto;
    color:antiquewhite;
    font-size: 30px;
}


h2 {
    text-align: center;
    background-color: #2E4053;
    color: antiquewhite;
}

h5{
    background-color: #9e9fa6;
}
hr {
    height: 5px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D6D7F8;
    border-radius: 3px;
}

.boxone {
    display: flex;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.email , .phone , .place  {
    width: 300px;
    height: 150px;
    text-align: center;
    padding: 60px 10px ;
}

.divimage {
    width: 300px;
    height: 150px;
    padding: 15px 10px ;
}

.boxtwo {
    display: flex;
    width: 900px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.summary {
    width: 300px;
    height: 150px;
    padding: 60px 10px ;
}

.textsummary{
    width: 600px;
    height: 150px;
    padding: 50px 10px ;
}

.boxfree{
    display: flex;
    width: 900px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

.training{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    padding: 60px 10px ;
}

.subtitle{
    display: flex;
    width: 600px;
    height: 150px;
    padding: 10px 5px ;
    justify-content: space-between;
    
}

.caption , .status , .institution , .grades ,.period {
    font-size: 13px;
    padding: 15px 1px 1px 0px ;
}

.boxfour{
    display: flex;
    width: 900px;
    height: 1300px;
    background-color: #D6D7F8;
    margin-left: auto;
    margin-right: auto;
   
} 

.col {
    width: 300px;
}

.boxfive {
    width: 900px;
    height: 300px;
    background-color: #D6D7F8;
    margin-left: auto;
    margin-right: auto;
}

.boxfivediv {
    display: flex;  
    padding: 10px;
    
}

.boxfivediv div{
    width: 400px;
    background-color: white;
    text-align: center;
    margin-left: 10px; 

}

.parrafo {
    padding: 15px;
}

.boxsix{
    width: 900px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D6D7F8;
}

.boxseven {
    
    width: 900px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #D6D7F8;
}
.skills{
    width: 300px;
    height: 50px;
}

.skills div {
    width: 300px;
    height: 150px;
}
.endpage{
    width: 900px;
    height: 100px;
    background-color: #2E4053;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: antiquewhite;
}
img {
    width: 40%;
    border-radius: 50px;
}