*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    
    font-family: sans-serif;
}

.box {
    width: 500px;
    background-color:#D6D7F8;
    margin: 0 auto;
    margin-top: 2%;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    
}

.box-img {
    border-radius: 40%;
}

.box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight:100 ;
    margin:30px 0 20px 
}

.box h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 20px;
}

.box p {
    text-align:justify ;

}

.box ul {
    list-style: none;
    margin-top: 20px;
    
}

.linkedin {
    width: 10%;
    
}

.box ul li {
    display: inline-block;
     
}

.box ul li a {
    color : white;
    font-size: 45px;
    padding: 5px 5px ;
    display: block;
    transition: all .5s ease-in-out;
    float: left;    
}